<%- include page/header_datepicker %>
	<div class="row">

		<div class="col-md-8 column">
			<div class="col-lg-4 col-md-4">
                <div class="panel panel-primary">
		            	<div class="panel-heading">
							<span class="pull-center">
									 <div class="fa fa-2x">氣壓</div>
							</span>
							<span class="pull-right">
	                        		<div class="fa fa-2x">mb</div>
	                        </span>
						</div>
		                <div class="panel-body">

		                        <span class="pull-left">
		                        	<img src="/images/icon_pressure.png" width="80" height="80">
		                        </span>
	                        	<span class="pull-right">
	                        		 <div id="pressure" class="fa fa-2x">998</div>
	                        	</span>

		                </div>
		            </div>
            </div>
			<div class="col-lg-4 col-md-4">
                <div class="panel panel-primary">
		            	<div class="panel-heading">
							<span class="pull-left">
									 <div class="fa fa-2x">溫度</div>
							</span>
							<span class="pull-right">
	                        		<div class="fa fa-2x">℃</div>
	                        </span>
						</div>
		                <div class="panel-body">

		                        <span class="pull-left">
		                        	<img src="/images/icon_temperature.png" width="80" height="80">
		                        </span>
	                        	<span class="pull-right">
	                        		 <div id="temperature" class="fa fa-2x">150</div>
	                        	</span>

		                </div>
		                <!--<div class="panel-footer">
	                        <span class="pull-left">View Details</span>
	                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                        <div class="clearfix"></div>
	                    </div>-->
		            </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="panel panel-primary">
		            	<div class="panel-heading">
							<span class="pull-center">
									 <div class="fa fa-2x">濕度</div>
							</span>
							<span class="pull-right">
	                        		<div class="fa fa-2x">%</div>
	                        </span>
						</div>
		                <div class="panel-body">

		                        <span class="pull-left">
		                        	<img src="/images/icon_humidity.png" width="80" height="80">
		                        </span>
	                        	<span class="pull-right">
	                        		 <div id="humidity" class="fa fa-2x">70</div>
	                        	</span>

		                </div>
		            </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="panel panel-primary">
		            	<div class="panel-heading">
							<span class="pull-center">
									 <div class="fa fa-2x">照明</div>
							</span>
							<span class="pull-right">
	                        		<div class="fa fa-2x">lux</div>
	                        </span>
						</div>
		                <div class="panel-body">

		                        <span class="pull-left">
		                        	<img src="/images/icon_light.png" width="80" height="80">
		                        </span>
	                        	<span class="pull-right">
	                        		 <div id="light" class="fa fa-2x">ˋ420</div>
	                        	</span>

		                </div>
		            </div>
            </div>
			<div class="col-lg-4 col-md-4">
                <div class="panel panel-primary">
		            	<div class="panel-heading">
							<span class="pull-left">
									 <div class="fa fa-2x">紫外線</div>
							</span>
							<span class="pull-right">
	                        		<div class="fa fa-2x"></div>
	                        </span>
						</div>
		                <div class="panel-body">

		                        <span class="pull-left">
		                        	<img src="/images/icon_uv.png" width="80" height="80">
		                        </span>
	                        	<span class="pull-right">
	                        		 <div id="uv" class="fa fa-2x">4</div>
	                        	</span>

		                </div>
		            </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="panel panel-primary">
		            	<div class="panel-heading">
							<span class="pull-center">
								<div class="fa fa-2x">雨滴</div>
							</span>
							<span class="pull-right">
	                        	<div class="fa fa-2x"></div>
	                        </span>
						</div>
		                <div class="panel-body">

		                        <span class="pull-left">
		                        	<img src="/images/icon_rain.png" width="80" height="80">
		                        </span>
	                        	<span class="pull-right">
	                        		 <div id="rain" class="fa fa-2x">3</div>
	                        	</span>

		                </div>
		            </div>
            </div>
			<div class="col-md-12 column">
				<form method = "post" id="unitList" name="unitList">
					<table width="100%" border="1">

							<tr  height="80" align="center" bgcolor="#428bca">

								<td>
									<div class="fa fa-3x" style="color:white;">裝置</div>
								</td>

								<td>
									<div class="fa fa-3x" style="color:white;">狀態</div>
								</td>

							</tr>


						<% if (units) { %>
							<% for(var i = 0;i<units.length;i++) { %>
								<!--<tr align="center" bgcolor="#E3E3E3">-->
								<tr height="80" align="center">
									<td align="center">
										<div  class="col-md-3">
											<span class="pull-right">
					                        	<img src="/images/icon_detecter.png" width="50" height="50">
					                        </span>

										</div>

										<div class="col-md-9 fa fa-3x">
											<span class="pull-left">
					                        	<%= units[i].name %>
					                        </span>

										</div>

									</td>
									<td  align="center">
										<% if(units[i].status == 0){ %>
										   <img src="/images/btn_normal.png" width="80" height="40" name="status">
										<% }else if(units[i].status == 1){ %>
											<img src="/images/btn_alarm.png" width="80" height="40" name="status">
										<% }else if(units[i].status == 2){ %>
											<img src="/images/btn_loss.png" width="80" height="40" name="status">
										<% } %>
									</td>
								</tr>
							<% } %>
						<% } %>

					</table>
				</form>
			</div> <!-- col-md-12 column-->
		</div> <!-- col-md-8 column-->
		<div class="col-md-4 column col-centered">
			<div class="col-md-12">
				<a href="http://www.accuweather.com/en/tw/hualien-county/3369306/weather-forecast/3369306" class="aw-widget-legal">
				<!--
				By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
				-->
				</a>
				<div id="awtd1474449223149" class="aw-widget-36hour"  data-locationkey="" data-unit="c" data-language="zh-tw" data-useip="false" data-uid="awtd1474449223149" data-editlocation="false">
				</div><!-- column-->
			</div>
		</div> <!-- col-md-4 column col-centered-->
	</div>	<!--row-->
	<div class="row">
		<div class="col-md-12 column">
			<label id="error_message" class="checkbox">
	            <font color="red"><b></b>
	            <% if (user.authz.a02==false) { %>
	                你沒有權限,請通知管理員變更權限!
	            <% } %>
	        </label>
		</div> <!-- column-->
	</div>	<!--row-->


<!-- （Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               刪除裝置警告
            </h4>
         </div>
         <div class="modal-body">
            確定刪除裝置嗎?
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">關閉
            </button>
            <button type="button" onClick="toSubmit()" class="btn btn-danger">
               確定刪除
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


<script class="code" type="text/javascript">
	$(document).ready(function () {
		setTimeout(function(){
		    //do what you need here
		    document.getElementById('error_message').innerText = '';
		}, 3000);
	});
	var callbackFunction = function(data) {
	    var wind = data.query.results.channel.wind;
	    //alert(wind.chill);
	};
	var socket = io.connect();
	socket.on('connect',function(){
        socket.emit('index_client','hello,index_client socket cient is ready');
    });

    socket.on('index_weather_data',function(data){

		if(data.index == 'aa01'){
			//alert('index :'+ data.info.data0);
			$("#pressure").text(data.info.data0);
			$("#temperature").text(data.info.data2);
			$("#humidity").text(data.info.data3);
			$("#light").text(data.info.data4);
		}else{
			//alert('index :'+ data.info.data0);
			$("#uv").text(data.info.data0);
			$("#rain").text(data.info.data1);
		}

	});
</script>
<script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
<script src="https://query.yahooapis.com/v1/public/yql?q= select * from weather.forecast where woeid in (select woeid from geo.places(1) where text='Hualien, tw') and u='c'&format=json&callback=callbackFunction"></script>
<%- include page/footer %>