<%- include page/header %>
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading"><span class="glyphicon glyphicon-edit"></span> 裝置設定欄</div>
					<div class="panel-body">
						<form id="editDevice" class="form-horizontal" action="" method="post">
							<fieldset>
								<!-- Name input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="name">裝置名稱</label>
									<div class="col-md-9">
									<input id="name" name="name" type="text" placeholder="請輸入裝置名稱" required="required" class="form-control">
									</div>
								</div>

								<!-- Email input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="email">裝置MAC</label>
									<div class="col-md-9">
										<input id="mac" name="mac" type="text" placeholder="請輸入裝置MAC" required="required" class="form-control">
									</div>
								</div>

								<!-- Type select-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="type">裝置類型</label>
									<div class="col-md-9">
										<select id="type" name="type_option">
						                    <option value="d001">土壤溫濕度檢測</option>
						                    <option value="d002">一般溫濕度檢測</option>
						                </select>
									</div>
								</div>

								<!-- Form actions -->
								<div class="form-group">
									<div class="col-md-12 widget-right">
										<!--<button type="button" onClick = "check()"class="btn btn-primary btn-md pull-right">新增裝置</button>-->
										<% if (user.authz.a02==true) { %>
											<input class="btn btn-primary btn-md pull-right" type = "button" onClick="check()" value = "新增裝置" >
										<% }else{ %>

									    	<button type="button" name="edit" class="btn btn-default btn-md pull-right" disabled>
									    	 新增裝置
											</button>
										<% } %>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>

			</div><!--/.col-->

		</div><!--/.row-->
		<div class="row">
		<div class="col-md-12 column">
			<label id="error_message" class="checkbox">
	            <font color="red"><b></b>
	            <% if (user.authz.a06==false) { %>
	                你沒有權限,請通知管理員變更權限!
	            <% } %>
	        </label>
		</div> <!-- column-->
	</div>	<!--row-->


<script class="code" type="text/javascript">
	$(document).ready(function () {
		setTimeout(function(){
		    //do what you need here
		    document.getElementById('error_message').innerText = '';
		}, 3000);
	});

	function check(){
		if(document.getElementById("name").value == ""){
			alert("未輸入裝置名稱");
		}else if(document.getElementById("mac").value == ""){
			alert("未輸入裝置MAC");
		}else{
		    document.getElementById("editDevice").submit();
		}
	}
</script>
<%- include page/footer %>