<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title%></title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/datepicker3.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/js/jqplot/jquery.jqplot.css"/>
<!--<link href="css/jquery-ui.css" rel="stylesheet">
<script src="/js/jquery-ui.min.js"></script>-->
<script src="js/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/jqplot/jquery.jqplot.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/hot-sneaks/jquery-ui.css" rel="stylesheet">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

</head>
<style>
      .loginBox{width:420px;height:280px;padding:0 20px;border:1px solid #fff; color:#000;
			margin-top:40px; border-radius:8px;background: white; box-shadow:0 0 15px #222;
			background: -moz-linear-gradient(top, #fff, #efefef 8%);
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));font:11px/1.5em 'Microsoft YaHei' ;
			position: absolute;left:50%;top:50%;margin-left:-210px;margin-top:-115px;}
  </style>

<body>
<body  style="background: #444">
<div class="container">
	<section class="loginBox row-fluid">
		<h2 style="height:35px;font-size:20px;font-weight:normal;">Node Server <%= title%></h2>
        <!--                        <h2 style="height:35px;font-size:20px;font-weight:normal;">DEMO</h2>-->
        <div class="form-horizontal" role="form">
            <form id="reg-form" name="reg-form" action="/register" method="post">
                <table class="wwFormTable">
                	<div class="form-group">
                		<label for="account" class="col-sm-2 control-label">帳號:</label>
                	    <div class="col-sm-10">
                            <input class="form-control" placeholder="請輸入帳號" required="required" name="register_account" id="register_account" type="text" onfocus="myFunction(this)">
                		</div>
                	</div>
                    <div class="form-group">
                        <label for="LoginForm_password" class="col-sm-2 control-label">密碼:</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="請輸入密碼" required="required" name="register_password" id="register_password" type="password" onfocus="myFunction(this)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="LoginForm_password" class="col-sm-2 control-label">信箱:</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="請輸入電子郵件位址" required="required" name="register_email" id="register_email" type="email" onfocus="myFunction(this)">
                        </div>
                    </div>
                	<div class="form-group">
                		<div class="col-sm-10">
                            <table align="center" width="100%" border="0" cellspacing="6" cellpadding="0">
                                <td align="center" width="ˊ40%">
                                    <label id="error_message" class="checkbox">
                                        <font color="red"><b></b>
                                        <% if (error) { %>
                                            <%= error %>
                                        <% } %>
                                    </label>
                                </td>
                                <td width="20%">
                                    <input class="btn btn-primary" type="submit" value="註冊"> <!--onclick="check()">-->
                                </td>
                                <td width="20%">
                                    <a href="/login" class="btn btn-success">已有帳號
                                    </a>
                                </td>
                            </table>
                        </div>
                	</div>
                </table>
            </form>
    	</div>
	</section>
</div>
<center> <br>
<!-- style="width:16em;margin-left:18px;"-->
<!-- style="width:7em;margin-left:195px;font-size:16px;margin-top:-30px;"-->
<script class="code" type="text/javascript">
    function myFunction(btn) {
        //btn.style.background = "#EEFFBD";
        document.getElementById('error_message').innerText = '';
    }

</script>

    </center>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>